*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
}
.parralax{
    padding-top: 250px;
    background-image: url('img/jpg_44-2.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}